@{
    ViewData["Title"] = "Tools Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the tools page.</h1>
    <p>Get started below</a>.</p>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <ul>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Tools" asp-action="Help">Help</a>
            </li>
        </ul>
    </nav>
</div>
